<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<!-- Makes the DevKit appear under Network in Finder and in Linux file managers. -->
<service-group>
  <name replace-wildcards="yes">%h OpenFile</name>
  <service>
    <type>_smb._tcp</type>
    <port>445</port>
  </service>
  <service>
    <type>_device-info._tcp</type>
    <port>0</port>
    <txt-record>model=TimeCapsule8,119</txt-record>
  </service>
@WEB_SERVICE@</service-group>
